
<h1>FireBase Test:</h1>
<div>
  <h4>Add new User</h4>
  <button (click)="addNewUser()">Add</button>
  <label>Username:</label>
  <input type="text" [(ngModel)]="newUser.username">

  <label>Email:</label>
  <input type="text" [(ngModel)]="newUser.email">

  <label>Name:</label>
  <input type="text" [(ngModel)]="newUser.first_name">
  <input type="text" [(ngModel)]="newUser.last_name">

  <hr>
</div>

<div>
  <h4>List Of Users:</h4>
  <ul>
    <li class="text" *ngFor="let user of usersList$ | async">
      <button (click)="deleteUser(user)">Del</button>
      <button (click)="loadUser(user)">Edit</button>
      <!-- {{ user | json }} -->
      {{ user.username + ' - ' + user.first_name + user.last_name }}
    </li>
  </ul>
  <hr>
</div>

<div *ngIf="!!editUser">
  <h4>Edit: {{ 'users/' + editUser.id }}</h4>
  <!-- {{ user$ | async | json }} -->

  <button (click)="saveUser()">Save</button>
  <label>Username:</label>
  <input type="text" [(ngModel)]="editUser.username">

  <label>Email:</label>
  <input type="text" [(ngModel)]="editUser.email">

  <label>Name:</label>
  <input type="text" [(ngModel)]="editUser.first_name">
  <input type="text" [(ngModel)]="editUser.last_name">
</div>
